.accounts {
    align-self: center;
}

.accounts-orders {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    margin-top: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10px; */
    padding: 10px;
    width: 30%;
    max-height: 400px;
    min-width: 100px;
    background: #f5f5f5;
    z-index: 1;
    border-radius: 5px;
}